mixin project-card(c)
  a.project-card(
    target= "_blank"
    rel="noopener"
    href=c.href)
    .project-card__content
      h3.project-card__heading= c.heading
      p.project-card__text= c.text